<p>ID: {{ test_var.id}}</p>
<p>NOMBRE: {{ test_var.nombre}}</p>
<p>APELLIDO: {{ test_var.apellido}}</p>
<p>EMAIL: {{ test_var.email}}</p>
<p>TELEFONO: {{ test_var.telefono}}</p>
<p>FECHA: {{ test_var.fecha|date("m/d/Y") }}</p>
